flows.json
[{"id":"f3bb9864.b63478","type":"tab","label":"intern","disabled":false,"info":""},{"id":"67ce65f5.1d2acc","type":"debug","z":"f3bb9864.b63478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":240,"wires":[]},{"id":"74268e58.20077","type":"function","z":"f3bb9864.b63478","name":"Temperature","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":260,"wires":[["67ce65f5.1d2acc","43f29abc.fd4064"]]},{"id":"d48b1d31.4a412","type":"function","z":"f3bb9864.b63478","name":"Humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":300,"wires":[["67ce65f5.1d2acc","cbe21c82.c7c53"]]},{"id":"c95910d4.204e9","type":"function","z":"f3bb9864.b63478","name":"Object temperature","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":360,"wires":[["67ce65f5.1d2acc","dd9e8aab.3ef2c8"]]},{"id":"bbe51f5b.771fd","type":"http request","z":"f3bb9864.b63478","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Hyderabad,IN&appid=65d39e644fde29900480b2fbc712d199","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":80,"wires":[["67ce65f5.1d2acc"]]},{"id":"e89f771d.e10478","type":"inject","z":"f3bb9864.b63478","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"5","x":250,"y":60,"wires":[["bbe51f5b.771fd"]]},{"id":"bb94bcd8.dd453","type":"ui_button","z":"f3bb9864.b63478","name":"","group":"58195771.06ab38","order":4,"width":0,"height":0,"passthru":false,"label":"motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motorON\"}","payloadType":"json","topic":"","x":340,"y":443,"wires":[["3f47ccd9.3bd264","67ce65f5.1d2acc"]]},{"id":"6ae615dc.ff691c","type":"ui_button","z":"f3bb9864.b63478","name":"","group":"58195771.06ab38","order":5,"width":0,"height":0,"passthru":false,"label":"motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motorOFF\"}","payloadType":"json","topic":"","x":350,"y":500,"wires":[["3f47ccd9.3bd264","67ce65f5.1d2acc"]]},{"id":"43f29abc.fd4064","type":"ui_gauge","z":"f3bb9864.b63478","name":"","group":"46610f54.11813","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Degree C","format":"{{value}}","min":0,"max":"100","colors":["#0e440e","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":160,"wires":[]},{"id":"cbe21c82.c7c53","type":"ui_gauge","z":"f3bb9864.b63478","name":"","group":"520fbc67.638924","order":2,"width":"0","height":"0","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#b3b33d","#ca3838"],"seg1":"","seg2":"","x":820,"y":340,"wires":[]},{"id":"dd9e8aab.3ef2c8","type":"ui_gauge","z":"f3bb9864.b63478","name":"","group":"f6f9fa91.b9da18","order":3,"width":"0","height":"0","gtype":"gage","title":"Object temperature","label":"Degree C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#7c3131"],"seg1":"","seg2":"","x":830,"y":420,"wires":[]},{"id":"3f47ccd9.3bd264","type":"ibmiot out","z":"f3bb9864.b63478","authentication":"apiKey","apiKey":"92a44d11.5d9ec","outputType":"cmd","deviceId":"123456","deviceType":"smartdevice","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":780,"y":500,"wires":[]},{"id":"3822d359.76a6fc","type":"ibmiot in","z":"f3bb9864.b63478","authentication":"apiKey","apiKey":"92a44d11.5d9ec","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":270,"y":300,"wires":[["74268e58.20077","d48b1d31.4a412","c95910d4.204e9"]]},{"id":"58195771.06ab38","type":"ui_group","z":"","name":"Motor Commands","tab":"ec528aa0.3fd998","order":5,"disp":true,"width":"6","collapse":false},{"id":"46610f54.11813","type":"ui_group","z":"","name":"Temperature Detection","tab":"ec528aa0.3fd998","order":2,"disp":true,"width":"6","collapse":false},{"id":"520fbc67.638924","type":"ui_group","z":"","name":"Humidity Detection","tab":"ec528aa0.3fd998","order":3,"disp":true,"width":"6","collapse":false},{"id":"f6f9fa91.b9da18","type":"ui_group","z":"","name":"Object temperature detection","tab":"ec528aa0.3fd998","order":4,"disp":true,"width":"6","collapse":false},{"id":"92a44d11.5d9ec","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ec528aa0.3fd998","type":"ui_tab","z":"","name":"Agriculture","icon":"dashboard","disabled":false,"hidden":false}]